div.contentUser {
	width: 180px;
	margin: 10px;
	background-color: #ffffff;
	padding: 10px;
	box-sizing: 0;
	border-radius: 6px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}

div.contentData {
	width: 450px;
	margin: 10px;
	background-color: #ffffff;
	padding: 14px;
	box-sizing: 0;
	border-radius: 6px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
}

div.userBigContent {
	display: flex;
	justify-content: center;
}

img.avatarUser {
	width: 180px;
	min-width: 180px;
	max-width: 180px;
	min-height: 200px;
	max-height: 240px;
	object-fit: cover;
	user-select: none;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	image-rendering: optimizeSpeed;
}
img.avatarUser:hover {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
img.avatarUser:hover + ul.updatePhoto{
	display: block;
}

h2.nameUser {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: rgba(0, 0, 0, .9);
	padding: 0;
	margin: 0;
}
h2.descriptionUser {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: rgba(0, 0, 0, .9);
	padding: 0;
	margin: 0;
	margin-top: 6px;
}

div.divUserNick {
	display: flex;
	align-items: center;
}

img.imgVerification {
	width: 13px;
	min-width: 13px;
	max-width: 13px;
	height: 13px;
	max-height: 13px;
	min-height: 13px;
	user-select: none;
	opacity: .7;
	cursor: pointer;
	image-rendering: optimizeSpeed;
}

button.edit {
	width: 100%;
	margin-top: 8px;
}

button.write_message {
	width: 100%;
	margin-top: 10px;
}

button.subscribe {
	width: 100%;
	margin-top: 8px;
}

div.verification {
	width: 13px;
	height: 13px;
	margin-left: 6px;
}

hr.info {
	width: 100%;
	margin: 14px 0;
}

div.infoDataContent1 {
	padding: 0;
	margin: 0;
}
div.infoData {
	padding: 5px 0;
	margin: 0;
	display: flex;
	align-items: center;
}
h2.infoDataTitle {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: rgba(0, 0, 0, .5);
	width: 210px;
	text-align: left;
	padding: 0;
	margin: 0;
}
h2.infoDataMessage {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: rgba(77, 98, 196, 1);
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0;
}

ul.updatePhoto {
	width: 180px;
	background-color: rgba(0, 0, 0, .8);
	list-style-type: none;
	padding: 7px 0;
	margin: 0;
	position: relative;
	bottom: 5px;
	display: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
ul.updatePhoto:hover {
	display: block;
}
li.itemUpdatePhoto {
	padding: 6px 9px;
	color: #ffffff;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 12px;
	cursor: pointer;
}
li.itemUpdatePhoto:hover {
	background-color: rgba(255, 255, 255, .1);
}

div.divTitleContent {
	width: 100%;
	display: flex;
	align-items: center;
	height: 30px;
	padding: 0;
	margin: 0;
	margin-bottom: 14px;
}
h2.textTitleContent {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: rgba(0, 0, 0, 1);
	padding: 0;
	margin: 0;
	white-space: nowrap;
}
h2.textSubTitleContent {
	width: 100%;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: rgba(0, 0, 0, .4);
	padding: 0;
	margin: 0;
	margin-left: 7px;
	white-space: nowrap;
}
h2.add {
	color: rgba(77, 98, 196, 1);
	cursor: pointer;
	padding: 2px;
	margin: 0;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 13px;
	white-space: nowrap;
}
h2.add:hover {
	text-decoration: underline;
}

div.userPhotosList {
	display: flex;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
div.itemUserPhoto {
	user-select: none;
	width: 140px;
	height: 140px;
	margin-right: 8px;
	cursor: pointer;
}
img.imgUserPhoto {
	width: 140px;
	min-width: 140px;
	max-width: 140px;
	min-width: 90px;
	height: 140px;
	max-height: 140px;
	min-height: 140px;
	object-fit: cover;
	image-rendering: optimizeSpeed;
	user-drag: none;
}

div.menuPhotos {
	display: none;
	width: 140px;
	height: 26px;
	position: relative;
	bottom: 30px;
	z-index: 99;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .7);
}
img.itemMenuPhoto {
	width: 13px;
	max-width: 13px;
	min-width: 13px;
	height: 13px;
	max-height: 13px;
	min-height: 13px;
	cursor: pointer;
	opacity: .6;
	image-rendering: optimizeSpeed;
	user-select: none;
}
img.itemMenuPhoto:hover {
	opacity: 1;
}
img.imgUserPhoto:hover + div.menuPhotos {
	display: flex;
}
div.menuPhotos:hover {
	display: flex;
}


div.postMake {
	display: flex;
	align-items: center;
}
div.postDocDiv {
	padding: 0;
	margin: 0;
}
img.avatarPost {
	user-select: none;
	width: 35px;
	max-width: 35px;
	min-width: 35px;
	height: 35px;
	max-height: 35px;
	min-height: 35px;
	border-radius: 100px;
	object-fit: cover;
	image-rendering: optimizeSpeed;
}
img.docPost {
	width: 22px;
	height: 22px;
	padding: 5px;
	margin-right: 5px;
	cursor: pointer;
	opacity: .5;
	user-select: none;
}
img.docPost:hover {
	opacity: 1;
}
input.post {
	width: 100%;
	height: 35px;
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: 14px;
	margin-right: 10px;
}
textarea.post {
	width: 70%;
	max-width: 70%;
	min-width: 70%;
	resize: none;
	font-family: sans-serif;
	font-size: 13px;
	height: 35px;
	background-color: transparent;
	border: none;
	outline: none;
	margin-left: 14px;
	margin-right: 10px;
}
input.post::placeholder {
	color: rgba(0, 0, 0, .4);
}
form.post {
	width: 100%;
	display: flex;
	align-items: center;
}
button.post {
	white-space: nowrap;
	font-size: 10px;
}
h2.no_posts {
	font-family: sans-serif;
	font-weight: 500;
	font-size: 13px;
	color: rgba(0, 0, 0, .6);
	width: 100%;
	text-align: center;
}


div.postItem {
	width: 100%;
	padding: 0;
	margin: 0;
}
div.userPostItem {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
}
div.nameUserPostItem {
	padding: 0;
	margin: 0;
	margin-left: 10px;
	width: 100%;
}
div.postItemContent {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 14px;
}
div.divPostDate {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	margin-top: 3px;
}
div.divPostUserName {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
img.avatarUserPost {
	width: 35px;
	min-width: 35px;
	max-width: 35px;
	height: 35px;
	max-height: 35px;
	min-height: 35px;
	object-fit: cover;
	cursor: pointer;
	border-radius: 100px;
	user-select: none;
	image-rendering: optimizeSpeed;
}
img.postDevice {
	width: 12px;
	max-width: 12px;
	min-width: 12px;
	height: 12px;
	max-height: 12px;
	min-height: 12px;
	user-select: none;
	image-rendering: optimizeSpeed;
	opacity: .4;
	margin: 0;
	padding: 0;
	margin-left: 6px;
}
h2.postUserName {
	color: rgba(77, 98, 196, 1);
	font-family: sans-serif;
	font-weight: 700;
	font-size: 14px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}
h2.postUserRepost {
	color: rgba(0, 0, 0, .4);
	font-family: sans-serif;
	font-weight: 600;
	font-size: 11px;
	margin: 0;
	padding: 7px 13px;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, .1);
	margin-right: 15px;
	margin-top: 15px;
	text-align: left;
	white-space: nowrap;
}
a.repost {
	color: rgba(0, 0, 0, .6);
}
div.divPostButtons {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	margin-top: 10px;
}
div.dataPostItem {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
div.divPostItemButton {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 6px;
	border-radius: 6px;
}
div.divPostItemButton:hover {
	background-color: rgba(0, 0, 0, .1);
}
div.typePostItems {
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
}
img.postItemButton {
	width: 20px;
	max-width: 20px;
	min-width: 20px;
	height: 20px;
	max-height: 20px;
	min-height: 20px;
	object-fit: cover;
}
h2.postItemBottonContent {
	font-size: 12px;
	font-weight: 500;
	font-family: sans-serif;
	color: rgba(0, 0, 0, .6);
	padding: 0;
	margin: 0;
	margin-left: 6px;
}
h2.postDate {
	color: rgba(0, 0, 0, .5);
	font-family: sans-serif;
	font-weight: 500;
	font-size: 11px;
	padding: 0;
	margin: 0;
}
h2.postMessage {
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: rgba(0, 0, 0, .9);
	padding: 0;
	margin: 0;
}
img.imgPostMessage {
	height: 200px;
	max-height: 200px;
	min-height: 200px;
	width: auto;
	user-select: none;
	image-rendering: optimizeSpeed;
}
i.menuPost {
	width: 17px;
	height: 17px;
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
i.menuPost:hover {
	background-color: rgba(0, 0, 0, .1);
	border-radius: 100%;
}
img.menuPost {
	width: 17px;
	height: 17px;
	opacity: .7;
	user-select: none;
}
ul.listMenuPost {
	list-style-type: none;
	padding: 5px 0;
	margin: 0;
}
li.itemMenuPost {
	padding: 7px 13px;
	font-family: sans-serif;
	font-size: 13px;
	color: rgba(0, 0, 0, .9);
	cursor: pointer;
	text-decoration: none;
}
li.itemMenuPost:hover {
	background-color: rgba(0, 0, 0, .1);
}


div.divListSubscribers {
	padding: 0;
	margin: 0;
}
div.itemUserSubcriber {
	display: inline-block;
	width: 50px;
	max-width: 50px;
	min-width: 50px;
	height: 65px;
	max-height: 65px;
	min-height: 65px;
    position: relative;
	padding: 0;
	margin: 2px 3px;
	cursor: pointer;
	border-radius: 6px;
}
div.itemUserSubcriber:hover {
	background-color: rgba(0, 0, 0, .06);
}
img.avatarUserSub {
	image-rendering: optimizeSpeed;
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	height: 40px;
	max-height: 40px;
	min-height: 40px;
	object-fit: cover;
	user-select: none;
	border-radius: 100px;
}
h2.userSubName {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 11px;
	margin-top: 1px;
	color: rgba(77, 98, 196, 1);
}




div.userPhotosList::-webkit-scrollbar {
	width: 7px;  /* for vertical scrollbars */
	height: 7px; /* for horizontal scrollbars */
}

div.userPhotosList::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

div.userPhotosList::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}









div.alert {
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 220;
}
div.alertBackground {
	padding: 0;
	margin: 0;
	width: 400px;
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, .2);
}
nav.alertNav {
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	background-color: rgba(77, 98, 196, 1);
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
h2.alertTitle {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #ffffff;
	width: 100%;
	padding: 0;
	margin: 0;
	padding-left: 15px;
}
h2.alertTitleClose {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: #ffffff;
	padding: 0;
	margin: 0;
	text-align: center;
	padding: 17px 10px;
	cursor: pointer;
}
h2.alertTitleClose:hover {
	background-color: rgba(0, 0, 0, .1);
}
h2.alertMessage {
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 400;
	color: rgba(0, 0, 0, .6);
	padding: 10px 10px;
	margin: 0;
}
div.alertContent {
	width: 100%;
	padding: 10px 0;
}

form.avatarUpload {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h2.showOtherInfo {
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 500;
	color: rgba(77, 98, 196, 1);
	background-color: rgba(77, 98, 196, .0);
	text-align: center;
	margin: 0;
	margin-top: 10px;
	padding: 7px 10px;
	border-radius: 6px;
	cursor: pointer;
	user-select: none;
}
h2.showOtherInfo:hover {
	background-color: rgba(77, 98, 196, .1);
}

a {
	color: rgba(77, 98, 196, 1);
	text-decoration: none;
	text-align: left;
	padding: 0;
	margin: 0;
	box-sizing: 0;
}


div.infoCategory {
	display: flex;
	align-items: center;
	height: 20px;
	margin-bottom: 6px;
	margin-top: 20px;
}
h2.infoCategory {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: rgba(0, 0, 0, .9);
	padding: 0;
	margin: 0;
	white-space: nowrap;
	padding-right: 10px;
}
hr.infoCategory {
	width: 100%;
	padding: 0;
	margin: 0;
	opacity: .6;
}

h2#updateStatus:hover {
	background-color: rgba(77, 98, 196, .1);
	cursor: pointer;
}

input.login {
	padding: 0;
	margin: 0;
	width: auto;
	padding: 7px 9px;
	outline: none;
	border: none;
	border: 1px solid rgba(0, 0, 0, .1);
	background-color: transparent;
	box-sizing: 0;
	border-radius: 4px;
}












.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	width: 285px;
	visibility: hidden;
	background-color: #ffffff;
	color: #121212;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 500;
	border: 1px solid rgba(77, 98, 196, .4);
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
	padding: 12px 12px;
	position: absolute;
	z-index: 102;
	top: 120%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 20%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
}

.tooltiptext {
	margin: 10px;
}

.tooltip .tooltiptext::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 20%;
	margin-left: -6px;
	border-width: 6px;
	border-style: solid;
	border-color: rgba(64, 90, 201, 0);
	border-bottom-color: rgba(77, 98, 196, .4);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}







.tooltipMenu {
	position: relative;
	display: inline-block;
}

.tooltipMenu .tooltipTextMenu {
	width: 150px;
	visibility: hidden;
	background-color: #ffffff;
	color: #121212;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 500;
	border-radius: 6px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
	padding: 0;
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 10%;
	margin-left: -120px;
	opacity: 0;
}

.tooltipMenu .tooltipTextMenu::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 66.5%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: transparent;
}

.tooltipMenu .tooltipTextMenu::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 66.5%;
	margin-left: -6px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: transparent;
}

.tooltipMenu:hover .tooltipTextMenu {
	visibility: visible;
	opacity: 1;
}




h2.titleListPost {
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
	font-family: sans-serif;
	color: rgba(0, 0, 0, .6);
	padding: 0;
	margin: 0;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 5px;
}
h2#titleListPost {
	font-weight: 600;
	font-size: 12px;
	font-family: sans-serif;
	display: inline-block;
	color: rgba(0, 0, 0, .4);
	padding: 0;
	margin: 0;
	margin-left: 6px;
}
div.userPhotosListPost {
	width: 90%;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-left: 50px;
}
div.userPhotosListPost::-webkit-scrollbar {
	width: 5px;  /* for vertical scrollbars */
	height: 5px; /* for horizontal scrollbars */
	border-radius: 100px;
}

div.userPhotosListPost::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.06);
	border-radius: 100px;
}

div.userPhotosListPost::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.12);
	border-radius: 100px;
}
img.imgListPost {
	width: 54px;
	max-width: 54px;
	min-width: 54px;
	height: 54px;
	max-height: 54px;
	min-height: 54px;
	user-select: none;
	object-fit: cover;
	border-radius: 6px;
	cursor: pointer;
	margin: 4px;
	image-rendering: optimizeSpeed;
}
img.imgListPost:hover {
	opacity: .7;
}
h2.hListPost {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	max-width: 54px;
	min-width: 54px;
	height: 54px;
	max-height: 54px;
	min-height: 54px;
	user-select: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .1);
	color: rgba(77, 98, 196, 1);
	text-align: center;
	font-weight: 300;
	font-size: 10px;
	font-family: sans-serif;
	margin: 4px;
	padding: 0;
	border-radius: 6px;
}
h2.hListPost:hover {
	opacity:  .7;
}